<%- include ('layout/header') %>
<div class="container">
  <div class="row mg-4">
    <div class="col-lg-12">
      <p>This is the sample of the CRUD operation</p>
    </div>
  </div>
</div>
<%- include ('layout/footer') %>
